---
layout: default
title: Resume
permalink: /
---

<main>
    <section id='coverletter'>
        <div class='letter-outer'>
            <div class='letter-inner'>
                {% for paragraph in site.data.resume.coverLetterParagraphs %}
                    <p>{{paragraph}}</p>
                {% endfor %}
                <p>Click here to 
                    <a href="{{ site.baseurl }}/media/zacpearsonresume.pdf" target='_blank'>
                        download a PDF version
                    </a>
                    of my resume.
                </p>
            </div>
        </div>
    </section>
    <section id='resume'>
        {% for section in site.data.resume.resume %}
            <div class='section'>
                {% if section.heading %}
                    <h2 class='heading'>{{section.heading}}</h2>
                {% endif %}
                {% for organization in section.organizations %}
                    <div class='organization'>
                        {% if organization.name %}
                            <h3 class='name'>{{organization.name}}</h3>
                        {% endif %}
                        {% for position in organization.positions %}
                            <div class='position'>
                                {% if position.title %}
                                    <h4 class='title'>{{position.title}}</h4>
                                {% endif %}
                                {% if position.date %}
                                    <h4 class='date'>{{position.date}}</h4>
                                {% endif %}
                                {% if position.description %}
                                    <p class='description'>{{position.description}}</p>
                                {% endif %}
                            </div>
                       {% endfor %}
                    </div>
               {% endfor %}
            </div>
        {% endfor %}
    </section>
</main>
